#sidebar{
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #555555;
  text-align: center;
}

#page-content{
  margin-left: 100px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.cards {
  padding: 40px;
  margin: 20px;
  background-color: white;
  text-align: center;
  border: 1px solid #B0B0B0;
  box-shadow: 2px 2px 5px #B0B0B0;
  border-radius: 5px;
}

p {
  text-align: justify;
  padding: 20px;
}

.img-normalized {
  width: 250px;
}

.overflow-hidden {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.img:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.img-small {
  width: 150px;
}

.img-circle {
  border-radius: 50%;
}

body {
  background-color: #F3F3F3;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #4B4B4B;
  text-align: justify;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #4B4B4B;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #4B4B4B;
}

ul {
  padding: 0px;
  list-style: none;

}

.fa {
  font-size: 30px;
}

.fa:hover, a:hover {
  color: #E40000;
}


.list-inline li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0px;
}

.btn-red {
  font-family: 'Montserrat', sans-serif;
  background-color: #E40000;
  padding: 10px;
  color: white;
  border-radius: 20px;
}

.btn-red:hover {
  background-color: #A80000;
  color: white;
}

.cards h3 {
  text-align: center;
  margin-top: 0px;
  font-size: 16px;
}

.cards p {
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 0px;
  text-align: top;
}

.fa-tripadvisor {
  color: white;
  font-size: 40px;
  padding-top: 50px;
}
